## Import Dependencies

In [6]:
import requests
import json
import pandas as pd

## Name Constants

In [7]:
td_consumer_key = "H7KMRYCYW7FGXVBEA2QWUFLIET1QSLKZ"
endpoint = 'https://api.tdameritrade.com/v1/marketdata/{stock_ticker}/quotes?'

## Extract

In [30]:
full_url = endpoint.format(stock_ticker='AAL')
page = requests.get(url=full_url,params={'apikey' : td_consumer_key})
content = json.loads(page.content)

In [32]:
content

{'AAL': {'assetType': 'EQUITY',
  'assetMainType': 'EQUITY',
  'cusip': '02376R102',
  'symbol': 'AAL',
  'description': 'American Airlines Group, Inc. - Common Stock',
  'bidPrice': 19.19,
  'bidSize': 2600,
  'bidId': 'P',
  'askPrice': 19.2,
  'askSize': 1700,
  'askId': 'P',
  'lastPrice': 19.23,
  'lastSize': 0,
  'lastId': 'D',
  'openPrice': 19.16,
  'highPrice': 19.3,
  'lowPrice': 18.9,
  'bidTick': ' ',
  'closePrice': 19.15,
  'netChange': 0.08,
  'totalVolume': 27823988,
  'quoteTimeInLong': 1635194502812,
  'tradeTimeInLong': 1635194645582,
  'mark': 19.2,
  'exchange': 'q',
  'exchangeName': 'NASD',
  'marginable': True,
  'shortable': True,
  'volatility': 0.0192,
  'digits': 4,
  '52WkHigh': 26.09,
  '52WkLow': 10.63,
  'nAV': 0.0,
  'peRatio': 0.0,
  'divAmount': 0.0,
  'divYield': 0.0,
  'divDate': '',
  'securityStatus': 'Normal',
  'regularMarketLastPrice': 19.23,
  'regularMarketLastSize': 7385,
  'regularMarketNetChange': 0.08,
  'regularMarketTradeTimeInLong': 1635192000710,
  'netPercentChangeInDouble': 0.4178,
  'markChangeInDouble': 0.05,
  'markPercentChangeInDouble': 0.2611,
  'regularMarketPercentChangeInDouble': 0.4178,
  'delayed': True,
  'realtimeEntitled': False}}

In [33]:
data = pd.DataFrame(content)

In [34]:
tdata = data.T

In [14]:
tdata

,52WkHigh,52WkLow,askId,askPrice,askSize,assetMainType,assetType,bidId,bidPrice,bidSize,...,regularMarketLastSize,regularMarketNetChange,regularMarketPercentChangeInDouble,regularMarketTradeTimeInLong,securityStatus,shortable,symbol,totalVolume,tradeTimeInLong,volatility
AAL,26.09,10.63,P,19.2,2000,EQUITY,EQUITY,P,19.19,1600,...,7385,0.08,0.4178,1635192000710,Normal,True,AAL,27814729,1635194026054,0.019